/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

header {
  width: 15%;
}

@media screen and (max-width: 909px) {
  header {
    margin-top: 60px;
  }
}

header .header-container {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 1300px;
}

@media screen and (max-width: 909px) {
  header .header-container {
    position: static;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header .header-container .header-logo {
  margin-bottom: 90px;
  z-index: 1000;
}

header .header-container .header-logo img {
  width: 180px;
}

@media screen and (max-width: 909px) {
  header .header-container .header-logo {
    width: 105px;
  }
  header .header-container .header-logo img {
    width: 140px;
  }
}

header .header-container .header-nav {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 909px) {
  header .header-container .header-nav {
    opacity: 0;
    visibility: hidden;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 100px;
    z-index: 999;
    background-color: white;
    width: 100vw;
  }
}

header .header-container .header-nav-open {
  visibility: visible;
  opacity: 1;
}

header .header-container li {
  margin-bottom: 20px;
}

header .header-container li .header-text {
  font-size: 2.3rem;
  color: #797979;
  font-weight: lighter;
}

.nav-btn {
  z-index: 1000;
  position: absolute;
  top: 60px;
  right: 15px;
  display: none;
  cursor: pointer;
}

.nav-btn span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 1px;
  width: 36px;
  background-color: #707070;
  display: block;
}

.nav-btn span:first-child {
  margin-bottom: 10px;
}

.nav-btn span:nth-child(2) {
  margin-bottom: 10px;
}

@media screen and (max-width: 909px) {
  .nav-btn {
    display: block;
  }
}

.nav-btn__open span:first-child {
  -webkit-transform: translateY(11px) rotate(-45deg);
          transform: translateY(11px) rotate(-45deg);
}

.nav-btn__open span:nth-child(2) {
  opacity: 0;
}

.nav-btn__open span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(45deg);
          transform: translateY(-11px) rotate(45deg);
}

html {
  font-size: 62.5%;
}

html body {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 909px) {
  html body {
    display: block;
  }
}

html main {
  margin-top: 44px;
  width: 80%;
  padding-left: 40px;
}

@media screen and (max-width: 909px) {
  html main {
    width: 100%;
    padding-left: 0;
  }
}

.main-visual img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 909px) {
  .main-visual img {
    min-height: 80vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.works-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 909px) {
  .works-section {
    display: block;
  }
}

.works-section__item {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  margin-right: 16px;
  margin-bottom: 16px;
}

@media screen and (max-width: 909px) {
  .works-section__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.works-section__item img {
  display: block;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.works-section__item img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.single-section {
  margin-bottom: 60px;
}

.single-section img {
  display: block;
  width: 100%;
}

.single-section__heading {
  font-size: 3.9rem;
  margin-top: 125px;
  margin-bottom: 60px;
  font-weight: lighter;
}

@media screen and (max-width: 909px) {
  .single-section__heading {
    font-size: 2rem;
    margin-bottom: 40px;
    margin-top: 40px;
  }
}

.single-section__text {
  font-size: 1.9rem;
  letter-spacing: 1.4px;
  margin-bottom: 60px;
  font-weight: lighter;
}

@media screen and (max-width: 909px) {
  .single-section__text {
    font-size: 1.1rem;
  }
}

.single-section__back {
  font-weight: bold;
  font-size: 1.9rem;
}

@media screen and (max-width: 909px) {
  .single-section__back {
    font-size: 0.9rem;
  }
}

.about-section {
  margin-bottom: 50px;
}

.about-section__heading {
  font-size: 3.4rem;
  margin-bottom: 45px;
}

@media screen and (max-width: 909px) {
  .about-section__heading {
    font-size: 2rem;
  }
}

.about-section h2,
.about-section p {
  font-size: 1.5rem;
}

@media screen and (max-width: 909px) {
  .about-section h2,
  .about-section p {
    font-size: 1.1rem;
  }
}

.about-section__nav {
  margin-bottom: 100px;
}

.about-section__title {
  margin-bottom: 10px;
}

.about-section__text {
  margin-bottom: 10px;
  margin-left: 20px;
}

.info-section {
  margin-bottom: 50px;
}

.info-section__rubi {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 909px) {
  .info-section__rubi {
    font-size: 1.1rem;
  }
}

.info-section__heading {
  font-size: 2.8rem;
  margin-bottom: 60px;
}

@media screen and (max-width: 909px) {
  .info-section__heading {
    font-size: 2rem;
  }
}

.info-section__heading--small {
  font-size: 2rem;
  font-weight: lighter;
}

@media screen and (max-width: 909px) {
  .info-section__heading--small {
    font-size: 1.1rem;
  }
}

.info-section .info-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 909px) {
  .info-section .info-contents {
    display: block;
  }
}

.info-section .info-contents__left {
  width: 50%;
}

@media screen and (max-width: 909px) {
  .info-section .info-contents__left {
    width: 100%;
    margin-bottom: 60px;
  }
}

.info-section .info-contents__left h2 {
  font-size: 3rem;
  margin-bottom: 35px;
}

@media screen and (max-width: 909px) {
  .info-section .info-contents__left h2 {
    font-size: 2rem;
  }
}

.info-section .info-contents__left p {
  font-size: 1.7rem;
  line-height: 1.2;
}

@media screen and (max-width: 909px) {
  .info-section .info-contents__left p {
    font-size: 1.1rem;
  }
}

.info-section .info-contents__img {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-section .info-contents__right {
  width: 40%;
  font-size: 1.5rem;
}

@media screen and (max-width: 909px) {
  .info-section .info-contents__right {
    width: 100%;
    font-size: 1.1rem;
  }
}

.info-section .info-contents__right p {
  margin-bottom: 40px;
}

.info-section .info-contents__right .time {
  margin-bottom: 10px !important;
}

.contact-section {
  margin-bottom: 50px;
}

.contact-section__heading {
  font-size: 2.3rem;
  margin-bottom: 43px;
}

.contact-section__text {
  margin-bottom: 43px;
  font-size: 1.3rem;
}

.contact-section label {
  font-size: 1.3rem;
}

.contact-section .form-text {
  display: block;
  border: 1px solid #707070;
  width: 450px;
  height: 30px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 909px) {
  .contact-section .form-text {
    width: 100%;
  }
}

.contact-section textarea {
  border: 1px solid #707070;
  width: 450px;
  height: 200px;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 909px) {
  .contact-section textarea {
    width: 100%;
  }
}

.contact-section .btn {
  padding: 18px 83px;
  font-size: 1.7rem;
  display: block;
  background-color: #000000;
  color: #fff;
  border-radius: 6px;
}

@media screen and (max-width: 909px) {
  .contact-section .btn {
    padding: 11px 45px;
  }
}

.vision-section__img {
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 53px;
}

@media screen and (max-width: 909px) {
  .vision-section__img {
    height: 40vh;
    margin-bottom: 43px;
  }
}

.vision-section__heading {
  font-size: 3.4rem;
  font-weight: lighter;
  margin-bottom: 30px;
}

@media screen and (max-width: 909px) {
  .vision-section__heading {
    font-size: 2rem;
  }
}

.vision-section__text {
  font-size: 1.9rem;
  line-height: 1.2;
  margin-bottom: 43px;
}

@media screen and (max-width: 909px) {
  .vision-section__text {
    font-size: 1.1rem;
  }
}
/*# sourceMappingURL=style.css.map */